{% load static %}
<!!!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Document</title>
</head>
<body>

<header>
    {% include 'main/nav.html' %}
</header>

<div class="main-div">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{user}}</strong> {{message}}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
    <div class="pagination-div">
        <nav style="text-align: center;" aria-label="Page navigation example">
            <ul class="pagination">

                {% if articles.paginator.page_range|length > 1 %}


                {% if search_articles %}

                {% for p in articles.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?search={{search_articles}}&page={{p}}">{{p}}</a></li>
                {% endfor %}


                {% else %}

                {% for p in articles.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                {% endfor %}

                {% endif %}

                {% else %}

                {% endif %}


            </ul>
        </nav>

    </div>
</div>

<footer>

</footer>

</body>
</html>