{% extends 'main/base.html' %}


{% block content %}


<form class="form_create" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <!-- Input:Text -->
    <div class="form__field">
        <label>{{field.label}}</label>
        {{field}}
    </div>

    {% endfor %}
    <div class="form__field">
        <label>Теги</label>
        <input class="form-control" type="text" name="newtags" placeholder="Добавьте свои теги через запятую"/>
    </div>
    <div class="two-buttons-div">
        <div>
            <button class="btn btn-outline-success" type="submit">Отправить статью на проверку</button>

        </div>


        <div>
            <a href="{% url 'main'  %}"
               class="btn btn-outline-success">
                Назад
            </a>

        </div>
    </div>
</form>

{% endblock %}