{% extends 'main/base.html' %}


{% block content %}

<form class="form_create" method="post">
    {% csrf_token %}
    <p>
        <label>Старый пароль:</label>
        <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus
               required id="id_old_password">
    </p>
    <p>
        <label>Новый пароль:</label>
        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required
               id="id_new_password1">
    </p>
    <p>
        <label>Подтверждение нового пароля:</label>
        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required
               id="id_new_password2">
    </p>

    <button class="btn btn-outline-success" type="submit">Редактировать</button>
</form>

{% endblock %}